@media (max-width: 1050px) {
    .footer__menu-inner{
        flex-wrap: wrap;
    }
    .footer__about-company{
        min-width: 100%;
        margin-bottom: 30px;
    }
}
@media (max-width: 870px){
    .header__text{
        display: none;
    }
}
@media (max-width: 820px){
    .menu__list{
        display: none;
    }
    .header__burger-menu{
        display: block;
        height: 60px;
        padding-top: 20px;
    }
    .menu{
        height: auto;
        display: block;
        z-index: 2;
        & li{
            display: block;
            text-align: center;
            padding: 10px 0;
            & + li{
                margin-left: 0px;
             }
        }
    }
}
@media (max-width: 750px){
    .footer__social{
        min-width: 100%;
        margin-top: 30px;
    }
    .footer__menu-inner{
        justify-content: start;
    }
    .footer__col-menu{
        & + .footer__col-menu{
            margin-left: 30px;
        }
    }
}
@media (max-width: 600px){
    .notification,
    .message{
        display: none;
    }
    .basket__box{
        right: auto;
    }
}
@media (max-width: 520px){
    .user__btn{
        display: block;
    }
    .basket,
    .user,
    .header__btn-logout.login--on{
        display: none;
    }
    .header__logo{
        margin-left: 60px;
    }
    .header__burger-menu{
        position: absolute;
        top: 30px;
        padding-top: 0;
    }
    .header__burger-row{
        background-color: $bg;
    }
    .menu{
        height: auto;
        display: block;
        z-index: 2;
        & li{
            display: block;
            text-align: center;
            padding: 10px 0;
            & + li{
                margin-left: 0px;
             }
        }
    }
}
@media (max-width: 500px){
    .footer__col-menu{
        min-width: 100%;
        & + .footer__col-menu{
            margin-left: 0;
            margin-top: 30px;
        }
    }
}




@media (min-width: 521px){
    .basket,
    .user,
    .header__btn-logout.login--on{
        display: block !important;
    }
}
@media (min-width: 821px){
    .menu__list{
        display: block !important;
    }
}
